.contact-section {
  background-color: var(--footer-bg-color);
  text-align: center;
  font-size: 1.1rem;
  padding: 10px;
  box-shadow: inset 0px 0px 10px rgba(0,0,0,0.5);
  & * {
    font-family: "Outfit";
  }
  & a {
    cursor: pointer;
  }
  .contact-links {
    margin-top: 10px;
    & svg {
      fill: var(--contrast-color);
      opacity: 80%;
    }
    & svg:hover {
      opacity: 100%;
    }
  }
}

#github-icon {
  fill: white;
}