:root {
  --bg-color: #001523;
  --main-color: #ffffff;
  --third-color: rgb(221, 221, 221);
  --fourth-color: rgb(255, 174, 0);
  --highlited-color: #3daffc;
  --card-info-bg: #002945;
  --card-bg-color: #004370;
  --dropdown-bg-color: #015186;
  --dropdown-hover-color: #003e68;
  --contrast-color: white;
  --footer-bg-color: #004370;
}