@use "../abstract/variables" as *; 

.intro-section {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: space-evenly;
  font-family: "Outfit", Arial, Helvetica, sans-serif;
  width: 100%;
  height: 95vh;
  background-color: $bg-color;
  background-image: url("../../img/main-image.jpg");
  background-position: left center;
  background-size: cover;
  background-attachment: fixed;
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
  padding: 30px;
  padding-top: 30px;
  & .intro-h1 {
    font-size: 2.4rem;
    font-weight: normal;
    text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.6);
  }
  & .intro-h1, .intro-h2 {
    text-align: center;
    margin: 10px;
  }
  & .intro-h2 {
    font-weight: normal;
    font-size: 1.3rem;
    color: $third-color;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.7);
    letter-spacing: 3px;
    text-transform: uppercase;
  }
  & .about-pointer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 0px;
    gap: 0px;
    & .about-pointer-title {
      font-weight: normal;
      font-size: 1.2rem;
      text-shadow: 0px 0px 3px rgba(255, 255, 255, 0.24);
    }
    & .float-icon-container {
      position: absolute;
      transform: translateX(-50%);
      left: 50%;
      & .float-icon {
        animation:float-icon 1s cubic-bezier(.25,.46,.45,.94) infinite alternate both;
        & polyline {
        stroke: $main-color;
      }
    }
    }
  }
}