@use "../abstract/variables" as *; 

.technologies-section {
  padding-top: 20px;
}

.technologies-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 22px;
  padding: 20px;
  justify-content: center;    
  & > * {
    flex: 1 1 320px;
  }
  margin: 120px 0px;
}

.tech-card-item {
  display: grid;
  grid-template: 
  "img title" 38px
  "img info" 38px
  / 76px auto;
  border: 2px solid yellow;
  border-radius: 5px;
  max-width: 280px;
  background-color: #1e1e1e;
  align-content:center;
  position: relative;
  align-items: center;
  letter-spacing: 1.5px;
  column-gap: 35px;
}

.tech-card-item:hover {
  transform: scale(1.02);
  transition-duration: .3s;
}

.tech-card-img {
  grid-area: img;
  background-color: transparent;
  position: absolute;
  top: -20px;
  left: -10px;
}

.tech-card-title {
  grid-area: title;
}

.tech-card-info {
  grid-area: info;
}

.html-item {
  border-color: orange;
}

.css-item {
  border-color: #3595cf;
}

.react-item {
  border-color: rgb(0, 139, 194);
}

.sass-item {
  border-color: #cc6699;
}

.typescript-item {
  border-color: #2f74c0;
}

.bootstrap-item {
  border-color: #5e3b7f;
}

.next-item {
  border-color: #fff;
}