@use "./abstract/variables" as *; 
@use "./abstract/animations" as *; 
@use "./abstract/mixins/mixins" as *;
@use "./components/dropdown" as *;
@use "./layout/footer" as *;
@use "./layout/header" as *;
@use "./sections/intro" as *;
@use "./sections/technologies" as *;
@use "./sections/projects" as *;
@use "./sections/about" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: $bg-color;
  color: $main-color;
}

a {
  color: unset;
  text-decoration: none;
}

.title {
  font-weight: 400;
  font-size: 1.5rem;
}

.underline {
  @include underline();
}

.orange-underline {
  @include underline($color: $fourth-color);
}

.main-section {
  font-family: 'Outfit';
  & h2 {
    font-size: 2rem;
    text-align: center;
    font-weight: lighter;
    color: $highlited-color;
  }
}

.about-section {
  grid-area: about;
}

.technologies-section {
  grid-area: technologies;
}

.projects-section {
  grid-area: projects;
}

.highlited-2 {
  color: cyan;
  text-decoration: underline;
}

.hidden {
  display: none;
}

.init-hidden {
  opacity: 0;
  transform: translateY(10px);
}

.onscroll-animate {
  opacity: 1;
  transition-duration: .6s;
  transform: translateY(0px);
}

@media screen and (min-width: 545px) {
    .about-section {
      padding: 0px 20%;
    }
    .project-image-container {
      max-width: 100%;
    }
}

@media screen and (max-width: 530px) {
  html {
    font-size: 14px;
  }
  .about-section {
    padding: 0px 20px;
  }
  .nav-item {
    display: none;
  }
  .nav-icons {
    display: flex;
    margin-left: auto;
  }
  .shortcut-item {
    display: block;
    position: relative;
    font-size: 1.4rem;
    width: 100%;
    height: 100%;
    & #dropdown-btn {
      color: inherit;
      background-color: inherit;
      border: none;
      font-size: inherit;
      cursor: pointer;
      position: relative;
      overflow: visible;
      &:hover {
        opacity: .8;
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  main {
    display: grid;
    grid-template: 
    "about technologies" 100vh
    "projects projects" auto
    /1fr 1fr;
    align-items: center;
    min-height: 0;
  }
  .technologies-list {
    margin: 20px 0px 0px 0px;
  }
  .technologies-section {
    padding: 0;
  }
}