@use "../variables" as *; 

@mixin underline($color: $highlited-color, $width: 100px) {
  display: block;
  width: $width;
  background: $color;
  height: 4px;
  margin: 10px auto;
  border-radius: 4px;
}