:root {
  --bg-color: #001523;
  --main-color: #ffffff;
  --secondary-color: black;
  --third-color: rgb(221, 221, 221);
  --main-bg-color: #002945;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 200vh;
  background-color: var(--bg-color);
  color: var(--main-color);
}

.site-header {
  padding: 30px;
  font-family: 'Outfit';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.title {
  font-weight: 400;
  font-size: 1.5rem;
}

#nightModeSwitch {
  width: 60px;
  height: 30px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: dimgray;
  outline: none;
  border-radius: 12px;
  -webkit-transition: .5s;
  transition: .5s;
  -webkit-box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.3);
  position: relative;
}

#nightModeSwitch:hover {
  cursor: pointer;
}

#nightModeSwitch:checked {
  background-color: #03a9f4;
}

#nightModeSwitch:checked:before {
  left: 30px;
  background-color: yellow;
  -webkit-box-shadow: 0px 0px 4px yellow;
          box-shadow: 0px 0px 4px yellow;
}

#nightModeSwitch:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #c6c6c6;
  -webkit-transition: .5s;
  transition: .5s;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.main-section {
  position: relative;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  width: 100%;
  height: 90vh;
  background-color: var(--main-bg-color);
  background-image: url("../images/main-image.jpg");
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  -webkit-box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.397);
          box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.397);
  padding: 30px;
  padding-top: 70px;
}

.main-section h2 {
  font-size: 1.8rem;
  font-weight: bolder;
}

.main-section h2, .main-section h3 {
  text-align: center;
  margin: 10px;
}

.main-section h3 {
  font-weight: 500;
  font-size: 1.3rem;
  color: var(--third-color);
  text-shadow: 0px 0px 4px var(--third-color);
  letter-spacing: 3px;
  text-transform: uppercase;
}

.main-section .about-title {
  position: absolute;
  bottom: 100px;
  left: 50%;
  margin: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-weight: lighter;
  font-size: 1.8rem;
  text-transform: none;
}

.main-section .about-title::after {
  content: url("../images/down.svg");
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 100%;
}
/*# sourceMappingURL=style.css.map */