:root {
  --bg-color: #001523;//rgb(37, 38, 42);
  --main-color: #ffffff;
  --secondary-color: black;
  --third-color: rgb(221, 221, 221);
  --main-bg-color: #002945;
  --highlited-color: #3daffc;
  --highlited-color-2: cyan;
  --card-bg-color: #00406c;
  --contrast-color: white;
}

@mixin underline($color: var(--highlited-color), $width: 100px) {
  display: block;
  width: $width;
  background: $color;
  height: 4px;
  margin: 10px auto;
  border-radius: 4px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 400vh;
  background-color: var(--bg-color);
  color: var(--main-color);
}

a {
  color: unset;
  text-decoration: none;
}

.header-undeline {
  @include underline($width: 250px)
}

.site-header {
  padding: 22px;
  font-family: 'Outfit';
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-weight: 400;
  font-size: 1.5rem;
}

.center-checkbox {
  display: flex;
  align-items: center;
  gap: 10px;
}

#nightModeSwitch {
  width: 60px;
  height: 30px;
  appearance: none;
  background-color: dimgray;
  outline: none;
  border-radius: 12px;
  transition: .5s;
  box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.3);
  position: relative;

  &:hover {
    cursor: pointer;
  }
  &:checked {
    background-color: #03a9f4;
    &:before {
      left: 30px;
      background-color: yellow;
      box-shadow: 0px 0px 4px yellow;
    }
  }

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #c6c6c6;
    transition: .5s;
    transform: scale(1.1);
    box-shadow: 0px 2px 5px rgba(0,0,0,.2);
  }
}

.underline {
  @include underline();
}

.red-underline {
  @include underline($color: rgb(255, 174, 0), $width: 80%);
}

.intro-section {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: space-evenly;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  width: 100%;
  height: 95vh;
  background-color: var(--main-bg-color);
  background-image: url("../images/main-image.jpg");
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.397);
  padding: 30px;
  padding-top: 30px;
  & h1 {
    font-size: 1.8rem;
    font-weight: bolder;
  }

  & h1, h2 {
    text-align: center;
    margin: 10px;
  }
  & h2 {
    font-weight: 500;
    font-size: 1.3rem;
    color: var(--third-color);
    text-shadow: 0px 0px 3px var(--third-color);
    letter-spacing: 3px;
    text-transform: uppercase;
  }
  & .about-pointer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 0px;
    gap: 0px;
    & .about-title {
      font-weight: lighter;
    }
    & .float-icon {
      margin: 0px 12px;
      // position: absolute;
      // left: 50%;
      // transform: translateX(90px);
      animation:float-icon .8s cubic-bezier(.25,.46,.45,.94) infinite alternate both;
      & polyline {
      stroke: var(--main-color);
    }
    }
  }
} 

.nav-links {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 20px;
  text-transform: uppercase;
  color: var(--highlited-color);
}


.main-section {
  font-family: 'Outfit';
  & h2 {
    font-size: 2rem;
    text-align: center;
    font-weight: lighter;
    color: var(--highlited-color);
  }
}

.about-section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  & p {
    margin-top: 40px ;
    letter-spacing: 1.5px;
    line-height: 200%;
    font-size: 1.1rem;
    text-align: center;
  }
  padding: 80px 25px;
}

.technologies-section {
  & h2 {
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 0px 5px;
  }
}

.highlited-2 {
  color: cyan;
  text-decoration: underline;
}

.technologies-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 200px));
  list-style: none;
  margin: 80px auto;
  justify-content: center;
  max-width: 700px;
  gap: 30px;
}

.card-item {
  position: relative;
  min-width: 200px;
  max-width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.534);
  border-radius: 15px;
  background-color: var(--card-bg-color);
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.842);
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: lighter;
  & .image-container {
    height: 100%;
  }
  & .image-container img {
    padding: 20px 10%;
    max-width: 100%;
    height: 100%;
  }
  & .card-title {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.432);
    border-top: 1px solid black;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
    padding: 10px 0;
  }
  & .card-info {
    display: none;
  }
  &:hover {
    transform: scale(1.1);
    transition-duration: .4s;
  &::before {
      opacity: 0;
      transition-duration: .3s;
    }
    & .card-info {
      display: block;
      position: absolute;
      top: 0;
      background-color: var(--main-bg-color);
      width: 100%;
      height: 20px;
      animation: raise .1s forwards;
      border-radius: 10px 10px 0px 0px;
      text-align: center;
    }
  }
}

.detailed-card::before {
    content: "";
    background-color: var(--contrast-color);
    position: absolute;
    right: 0;
    top: 0;
    background-color: transparent;
    border: 15px solid;
    border-right-color: rgba(white, .5);
    border-top-color: rgba(white, .5);
    border-bottom-color: transparent;
    border-left-color: transparent;
  }

@media screen and (min-width: 545px) {
    .about-section {
      padding: 0px 20%;
    }
}

@keyframes raise {
  from {
    top: 0;
  }
  to {
    top: -10px;
  }
}

@keyframes float-icon{
  from {
    transform:translateY(0);
  }
  to{
    transform:translateY(20px);
  }
}