:root {
  --bg-color: #001523;//rgb(37, 38, 42);
  --main-color: #ffffff;
  --secondary-color: black;
  --third-color: rgb(221, 221, 221);
  --main-bg-color: #002945;
  --highlited-color: #3daffc;
  --highlited-color-2: cyan;
  --card-bg-color: #00406c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 300vh;
  background-color: var(--bg-color);
  color: var(--main-color);
}

.site-header {
  padding: 22px;
  font-family: 'Outfit';
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-weight: 400;
  font-size: 1.5rem;
}

#nightModeSwitch {
  width: 60px;
  height: 30px;
  appearance: none;
  background-color: dimgray;
  outline: none;
  border-radius: 12px;
  transition: .5s;
  box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.3);
  position: relative;

  &:hover {
    cursor: pointer;
  }
  &:checked {
    background-color: #03a9f4;
    &:before {
      left: 30px;
      background-color: yellow;
      box-shadow: 0px 0px 4px yellow;
    }
  }

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #c6c6c6;
    transition: .5s;
    transform: scale(1.1);
    box-shadow: 0px 2px 5px rgba(0,0,0,.2);
  }
}

.intro-section {
  position: relative;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  width: 100%;
  height: 90vh;
  background-color: var(--main-bg-color);
  background-image: url("../images/main-image.jpg");
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.397);
  padding: 30px;
  padding-top: 70px;
  & h2 {
    font-size: 1.8rem;
    font-weight: bolder;
  }

  & h2, h3 {
    text-align: center;
    margin: 10px;
  }
  & h3 {
    font-weight: 500;
    font-size: 1.3rem;
    color: var(--third-color);
    text-shadow: 0px 0px 3px var(--third-color);
    letter-spacing: 3px;
    text-transform: uppercase;
  }
  & .about-pointer {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 180px;
    left: 50%;
    transform: translateX(-50%);
    align-items: center;
    justify-content: center;
    gap: 0px;
    & .about-title {
      font-weight: lighter;
    }

    & .float-icon {
      animation:float-icon .8s cubic-bezier(.25,.46,.45,.94) infinite alternate both;
      & polyline {
      stroke: var(--main-color);
    }
    }
  }
} 


.main-section {
  font-family: 'Outfit';
  & h2 {
    font-size: 2rem;
    text-align: center;
    font-weight: lighter;
    color: var(--highlited-color);
  }
}

.about-section {
  & p {
    margin-top: 40px ;
    letter-spacing: 1.5px;
    line-height: 200%;
    font-size: 1.1rem;
  }
  padding: 80px 25px;
}

.technologies-section {
  & h2 {
    text-transform: uppercase;
    letter-spacing: 2px;
  }
}

.highlited-2 {
  color: cyan;
  text-decoration: underline;
}

.underline {
  display: block;
  width: 50%;
  height: 4px;
  background: var(--highlited-color-2);
  margin: 20px auto;
  border-radius: 4px;
}

.technologies-list {
  list-style: none;
  margin: 60px 0px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-content: space-around;
  gap: 50px;
}

.card-item {
  min-width: 200px;
  max-width: 300px;
  background-color: var(--card-bg-color);
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.842);
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: lighter;
  & img {
    padding: 20px 10%;
    max-width: 100%;
  }
  & .card-title {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-size: 2rem;
    font-weight: 400;
    text-align: center;
    border-top: 1px solid black;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
    padding: 10px 0;
  }
}

@keyframes float-icon{
  from {
    transform:translateY(0);
  }
  to{
    transform:translateY(20px);
  }
}